apiVersion: apps/v1
kind: Deployment
metadata:
  annotations:
    kompose.cmd: kompose convert
    kompose.version: 1.16.0 (0c01309)
  creationTimestamp: null
  labels:
    io.kompose.service: iam
  name: iam
spec:
  replicas: 2
  selector:
      matchLabels:
          name: iam
  template:
    metadata:
      creationTimestamp: null
      labels:        
        name: iam
    spec:
      containers:
      - image: 10.81.1.50:5000/iam:0.5
        name: iam
        ports:
        - containerPort: 8003
        imagePullPolicy: IfNotPresent
        env:
        - name: NODE_ENV
          value: development
        - name: ALLOWED_ORIGIN_IP
          value: "master-ip"
        - name: OPENSTACK_KEYSTONE_URL
          value: "http://opensatck-keystone-ip:5000/v3"
        - name: OPENSTACK_KEYSTONE_URL_JEDDAH
          value: "http://keystone-jeddah:5000/v3"
        - name: PORT
          value: "8003"
        - name: ADMIN_USERNAME
          value: sahal
        - name: ADMIN_PASSWORD
          value: ktbffh10
      #ms-logger serice
        - name: MS_LOGGER_IP
          value: ms-logger
        - name: MS_LOGGER_PORT
          value: "8012"
        - name: MS_LOGGER_SECRET_KEY
          value: BC2B36B81AB89F3B83AD227DCAD56
        - name: MS_LOGGER_THIS_SERVICE_NAME
          value: iam
        - name: MS_LOGGER_THIS_SERVICE_IP
          value: iam
        - name: MS_LOGGER_THIS_SERVICE_PORT
          value: "8003"
        - name: LOG_TARGET
          value: both
        - name: ENVIROMENT
          value: development
          
      #restartPolicy: Always
  strategy:
     type: RollingUpdate
     rollingUpdate:
       maxUnavailable: 0
       maxSurge: 1



