apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    io.kompose.service: iam
  name: iam
  namespace: default
spec:
  replicas: 1
  selector:
    matchLabels:
      name: iam
  strategy:
    rollingUpdate:
      maxSurge: 1
      maxUnavailable: 0
    type: RollingUpdate
  template:
    metadata:
      creationTimestamp: null
      labels:
        name: iam
    spec:
      containers:
      - env:
        - name: NODE_ENV
          value: development
        - name: ALLOWED_ORIGIN_IP
          value: 10.82.3.2
        - name: OPENSTACK_KEYSTONE_URL
          value: http://cloud1.ivlab.io:5000/v3
        - name: OPENSTACK_KEYSTONE_URL_JEDDAH
          value: http://cloud1.ivlab.io:5000/v3
        - name: PORT
          value: "8003"
        - name: ADMIN_USERNAME
          value: DCM
        - name: ADMIN_PASSWORD
          value: letmein
        - name: MS_LOGGER_IP
          value: ms-logger
        - name: MS_LOGGER_PORT
          value: "8012"
        - name: MS_LOGGER_SECRET_KEY
          value: BC2B36B81AB89F3B83AD227DCAD56
        - name: MS_LOGGER_THIS_SERVICE_NAME
          value: iam
        - name: MS_LOGGER_THIS_SERVICE_IP
          value: iam
        - name: MS_LOGGER_THIS_SERVICE_PORT
          value: "8003"
        - name: LOG_TARGET
          value: both
        - name: ENV_CHECK
          value: development
        - name: ADMIN_PROJECT_NAME
          value: admin
        - name: APM_SERVER_URL
          value: http://10.82.3.7:8200
        image: 10.82.3.2:5000/iam:50
        imagePullPolicy: IfNotPresent
        name: iam
        resources:
          limits:
            cpu: 500m
            memory: 256Mi
          requests:
            cpu: 250m
            memory: 128Mi
        ports:
        - containerPort: 8003
          protocol: TCP
