apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    io.kompose.service: marketplace-fe
  name: marketplace-fe
  namespace: default
spec:
  replicas: 1
  selector:
    matchLabels:
      name: marketplace-fe
  strategy:
    rollingUpdate:
      maxSurge: 1
      maxUnavailable: 0
    type: RollingUpdate
  template:
    metadata:
      creationTimestamp: null
      labels:
        name: marketplace-fe
    spec:
      containers:
      - env:
        - name: NODE_ENV
          value: development
        - name: GATSBY_PROTOCOL
          value: http
        - name: GATSBY_BASE_URL
          value: marketplace-be:9100
        - name: GATSBY_DCM_URL
          value: http://qa.ivlab.io/
        - name: REACT_APP_KEYCLOAK_JSON_PATH
          value: /keycloak.json
        - name: REACT_APP_KC_PASSWORD_VARIABLE
          value: kcup
        image: 10.82.3.2:5000/marketplace-fe:303
        imagePullPolicy: IfNotPresent
        name: marketplace-fe
        resources:
          requests:
            memory: "128Mi"
            cpu: "250m"
          limits:
            memory: "256Mi"
            cpu: "500m"
        ports:
        - containerPort: 80
          protocol: TCP
